body {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

ul {
    text-align: left;
}

li {
    margin: 16px 0;
}


blockquote {
    font-style: italic
}


